body>header {
  width: 100%;
}

#profile {
  padding-top: 70px;
  height: 500px;
  position: relative;
  background-color: mediumaquamarine;
  /* background-image: url("https://www.transparenttextures.com/patterns/black-linen.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
  text-align: center;
  margin: auto;
}

@media (min-width:1024px) {
  body>header {
    width: 30%;
    position: fixed;
    /* margin-top: 120px; */
  }
  #profile {
    padding: 10px;
    margin-top: 160px;
    height: unset;
    width: 300px;
    border-radius: 5%;
  }
}