nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  z-index: 99;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  text-align: right;
}

nav span {
  font-family: 'Bungee', cursive;
  float: left;
  font-size: 36px;
}

.newtweetnav {
  float: right;
  text-align: center
}

.header-arrow {
  color: red;
  font-weight: 600;
}