nav {
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  z-index: 99;
  padding: 1.5em;
}

nav span.brand {
  font-family: 'Bungee', cursive;
  /* position: absolute; */
  float: left;
  font-size: 24px;
}

#nav-compose-button {
  float: right;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 0;
}

@media (min-width:768px) {
  nav {
    position: fixed;
    height: 120px;
    z-index: 99;
    background-color: #4056A1;
    padding: 1.5em;
  }
  nav span.brand {
    font-size: 36px;
  }
  #nav-compose-button {
    font-size: 24px;
  }
}

.hidden {
  visibility: hidden;
}

#nav-compose-arrow {
  color: red;
  font-size: 30px;
  position: relative;
  margin-top: 5px;
}

#nav-compose-button:hover #nav-compose-arrow {
  animation: bob-down 1s ease-in-out infinite;
}

@keyframes bob-down {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: -10px;
  }
}

div.scroll-top-button-area {
  height: 100px;
  width: 80px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#scroll-top-button {
  background-color: red;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 50px;
  bottom: 0;
  position: absolute;
}

div.scroll-top-button-area:hover button {
  animation: bob-up 1s ease-in-out infinite;
  box-shadow: 2px 5px 2px 0.2px grey;
}

@keyframes bob-up {
  0%, 100% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
}