nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  z-index: 99;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  text-align: right;
}

nav span {
  font-family: 'Bungee', cursive;
  float: left;
  font-size: 36px;
}

.hidden {
  visibility: hidden;
}

#nav-compose-button {
  float: right;
  text-align: center;
  background-color: transparent;
  border: none;
}

#nav-compose-arrow {
  color: red;
  font-size: 30px;
  position: relative;
  margin-top: 5px;
}

#nav-compose-button:hover #nav-compose-arrow {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

#scroll-top-button {
  background-color: red;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
}