.new-tweet {
  margin: auto;
  width: 50%;
}

#tweet-text {
  display: block;
  background: transparent;
  border: none;
  resize: none;
  border-bottom: 2px solid black;
  margin: 10px 0px;
  width: 100%;
  font-size: 20px;
  height: 30px;
}

.new-tweet .counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.new-tweet button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: white;
  border: none;
}

