.new-tweet {
  margin: 20px;
  padding: 20px;
}

#tweet-text {
  display: block;
  background: transparent;
  border: none;
  resize: none;
  border-bottom: 2px solid black;
  margin: 10px 0px;
  width: 100%;
  font-size: 20px;
  height: 55px;
}

.too-long {
  color: red;
}

.new-tweet .counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.new-tweet button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: white;
  border: none;
}

.new-tweet label {
  font-weight: 600;
}