article.tweet {
  border: 2px solid #4056A1;
  margin: 40px 20px;
  padding: 30px;
}

article.tweet:hover {
  box-shadow: 10px 10px #C5CBE3;
}

article.tweet header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  position: relative;
}

article.tweet header img.avatar {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
}

article.tweet header span.name {
  position: absolute;
  left: 80px;
}

article.tweet header span.handle {
  visibility: hidden;
  position: absolute;
  right: 0;
  color: rgba(116, 122, 144, 0.5);
}

article.tweet:hover header span.handle {
  visibility: visible;
}

article.tweet main {
  min-height: 70px;
  border-bottom: 2px solid;
  padding: 10px 20px;
}

article.tweet footer {
  font-size: small;
  margin-top: 10px;
  padding: 0 20px;
}

.tweet-footer-icons {
  float: right;
  color: #4056A1;
  font-size: 20px;
}

/* Save, retweet, and fav icons */

.tweet i.fa {
  margin-left: 5px;
  visibility: hidden;
}

article.tweet:hover i.fa {
  visibility: visible;
}